{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="section no-pad-bot">
  <h1 class="header center deep-purple-text">RPI <abbr title="Nintendo Switch">NX </abbr> RCM Web UI</h1>
  <div class="row center">
      <h5 class="header col s12 light">A Fusée Launcher based RCM payload manager</h5>
    </div>
    <div class="row center">
      <a href="#" onclick="M.TapTarget.getInstance($('.tap-target')).open()"class="btn-large waves-effect waves-light deep-purple">Help</a>
    </div>  
</div>
{% endblock %}